.header{
    height:90px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: black;
    z-index: 1001;
}

.left-section{
    display: flex;
    align-items: center;
}
.isro-logo{
    height: 80px;
    width:  80px;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 1000;
    flex:1;
    transition: transform 0.4s ease, opacity 0.4s ease;
    animation: slideIn 1s;
}
.isro-logo:hover {
  transform: scale(1.1) rotate(5deg);
  opacity: 0.9;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.middle-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

.name{
    color: white;
    font-size: 40px;
    font-weight: 100;
    align-items: center;
    flex:1;
}

.right-section{
    display:flex;
    align-items: center;
}

.menu{
    color:white
}

.menu-icon{
    height:35px;
    width:35px;
    margin-left: 5px;
}
